/* Write your CSS code here */
.user-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-img {
  height: 80px;
}
.user-name {
  font-size: 25px;
  font-family: 'Roboto';
  color: #12022f;
}
.designation {
  color: #9aa5b1;
  font-size: 18px;
  font-family: 'Roboto';
}
